NEXT_PUBLIC_SUPABASE_URL=https://lsqkixysysfhywipmrky.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=
ALLOWED_EMAILS=husband@example.com,wife@example.com
NEXT_PUBLIC_STREAMLIT_URL=https://richddoong.streamlit.app
